redirect is missing on HtmxResponse

I just upgraded from v3 to v4 and HtmxResponse no longer supports `redirect`. This feels like a regression. I'll prep a PR to re-introduce it.

Could you please be more specific about why you can't use "HtmxRedirectView" as the return type?

In this case the user creates a widget so we redirect to the page for the newly created widget and return and an empty JteModel. 

However if there are errors we return the form (as a JteModel) with errors populated (no redirect).

Since JteModel and HtmxRedirectView don't both share a common parent we can't do that. I also don't want to return `Object` (or `Any` in my Kotlin case)

I might be able to create my own subclass, I think keeping the `redirect` on `HtmxResponse` is better for discoverability since that is the common way to set other HTMX headers.



>I also don't want to return Object (or Any in my Kotlin case)

However, this is a common use case when you have two different types of return values.

>I think keeping the redirect on HtmxResponse is better for discoverability since that is the common way to set other HTMX headers.

This can lead to situations where you return a view and set a redirect with `HtmxResponse`, which should not be the case. This is the reason why we have removed the option to set the `HX-Refresh`, `HX-Redirect` and `HX-Location` headers from `HtmxResponse`.

@checketts using `JteModel` as the return type of a handler method is not part of the Jte project, right? I wonder if you are using a custom `HandlerMethodReturnValueHandler`?

> This can lead to situations where you return a view and set a redirect with HtmxResponse, which should not be the case.

I disagree. The response come to the browser and the setting a view, while not common shouldn't be forbidden. I'm my codebase we often include a tiny view with an explanation of the redirect. This can be useful for understanding why a redirect happens (since a response code isn't obvious but the developer is wondering why the page redirected)

It also is a valid usecase for progressive enhancement in case the user has JS disabled (though I'm definitely using it for that usecase right now).

You are correct that I am using a custom `HandlerMethodReturnValueHandler`. I haven't pushed it back to the JTE Project yet since I wanted to finish my current application to ensure I have familiarity with any gotchas before making that contribution. We just finished migrating the last of our traditions `String` returns to `JteModel`s last week in fact.

>I disagree.

You can, but that doesn't change my opinion. According to the HTTP/1.1 specification (RFC 7231, Section 6.4), redirect responses usually do not include a body because the client is expected to follow the Location header to the new URL. The same applies to htmx, which does not process the response body if the `HX-Redirect` header is found.

In most web frameworks, including Spring, it is not possible to specify a response body when a redirect is performed with e.g. `RedirectView`. And if you really want to do that, you need to do a custom implementation.

